html {
    background-color: rgb(255, 255, 255);
    font-size: 20px;
  }
  
  ul {
    background: rgb(255, 255, 255);
    padding: 10px;
    /* border: 1px solid black; */
  }
  
  li {
    margin-left: 10px;
  }
  
  body {
      min-height: 100vh;
      max-width: 800px;
      background-color: rgb(255, 255, 255); 
      margin: 0 auto;
  }